@font-face {
    font-family: bebas_neue;
    src: url('BebasNeue-Regular.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items at the top */
    background-color:transparent;
}

#overlay {
    font-family: 'bebas_neue';
    height: 100px;
    width: 300px;
    background-color: rgb(145, 145, 145);
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-top: 0px;
    overflow: hidden;
    word-break: break-all;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#progressBar {
    height: 5px;
    max-width: 300px;
    width: 300px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    background: rgb(255, 0, 0);
    position: fixed;
}

#left {
    width: 100px;
    display: flex;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

#image {
    width: 80px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

p {
    margin: 0;
}

#title {
    display: flex;
    align-items: center;
    overflow:hidden;
    height: 100%;
}

#artist {
    display: flex;
    align-items: top;
    height: 100%;
}

#top {
    height: 50%;
    width: 100%;
    overflow: hidden;

}

#bottom {
    height: 50%;
    width: 100%;
    overflow: hidden;
}

#right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}